body{
  background: #87CEEB;
}
header{
  background: #6495ED;
}
.caixa{
  position: relative;
  width: 940px;
  margin: 0 auto;
}
nav{
  position: absolute;
  top: 110px;
  right: 0;
}
nav li{
  display: inline;
  margin: 0 0 0 15px;
  font-style: italic;
}
nav a{
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
}
main{
  width: 940px;
  margin: 0 auto;
}
form{
  margin: 40px 0;
}
form label, form legend{
  display: block;
  font-size: 20px;
  margin: 0 0 10px;
  font-style: italic;
}
.inputpadrao{
  display: block;
  margin: 0 0 20px;
  padding: 10px 25px;
  width: 50%;
  border: none;
  box-shadow: 2px 2px 2px rgba(0,0,0.2)
}
.checkbox{
  margin: 20px 0;
}
.enviar{
  width: 40%;
  padding: 15px 0;
  background: #1E90FF;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  transition: 1s all;
  cursor: pointer;
  font-style: italic;
  box-shadow: 2px 2px 2px rgba(0,0,0.2);
}
.enviar:hover{
  background: #1E90FF;
  transform: scale(1.1);
}
table{
  margin: 20px 0 40px;
}
thead{
  background: #555555;
  color: white;
  font-weight: bold;
}
td, th{
  border: 1px solid #000000;
  padding: 8px 15px;
}
.produtos{
  width: 940px;
  margin: 0 auto;
  padding: 50px 0;
}
.produtos li {
display: inline-block;
text-align: center;
width: 30%;
vertical-align: top;
margin: 0 1.5%;
padding: 30px 20px;
box-sizing: border-box;
border-color: #000000;
border-width: 2px;
border-style: solid;
border-radius: 10px;
}
.produtos li:hover {
  border-color: #000000; 
}
.produtos li:active {
  border-color: #000000;
}
.produtos li:hover h2{
  font-size: 34px;
}
.produtos h2 {
  font-size: 30px;
}
footer{
  text-align: center;
  background: #000000;
  padding: 40px 0;
  }
.copyright{
  color: #FFFFFF;
  font-size: 13px;
  margin: 20px 0 0;
}